<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__body">
			<div class="footer__column">
				<div class="footer__title">Contacts</div>
				<div class="footer__text">Want to know more or just chat? 
You are welcome!</div>
				<div class="footer__btn">
					<a href="#" class="footer__text-btn">Send message</a>
				</div>
			</div>
			<div class="footer__row">
				<img src="images/src/linkedin.png" alt="image linked" width="40px" height="40px">
				<img src="images/src/insta__footer.svg" alt="image insta">
				<img src="images/src/be_footer.png" alt="image Bё" width="40px" height="40px">
				<img src="images/src/footer__ball.svg" alt="image ball">
			</div>
			<div class="footer__down-text">
				Like me on <br>
LinkedIn, Instagram, Behance, Dribble
			</div>		
		</div>
	</div>
</footer>
</div>
	<script src="js/main.min.js"></script>
		<script>
		document.querySelector('.header__burger').addEventListener('click', function(){
				this.classList.toggle('active');
				document.querySelector('nav').classList.toggle('open');
			})
			</script>
	</body>
